

*{
    background-image: url("https://life.futuregenerali.in/media/041ogpbh/tax-saving-on-salary-increment.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}


.main{
   
    display: flex;
    border: 7px solid black;
    width: 100%;
    max-width:  500px;
    height: 300px;
    align-items: center ;
    justify-content: center;
    margin: auto;
    background-image: url("https://images.squarespace-cdn.com/content/v1/59c73df3c534a585d415fef2/1516261634823-L750EBGWN0KNPYGN8ASQ/Increment.png" 
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
.first{
    
    
    
    width: 100px;
    height: 80px;
    background-color: blanchedalmond;
    align-items: center;
    margin: auto;
    cursor: grab;
    
}
.second{
    width: 100px;
    height: 80px;
    background-color: blanchedalmond;
    align-items: center;
    margin: auto;
    cursor: grab;
}
    .third{
        width: 100px;
        height: 40px;
        background-color: blanchedalmond;
        margin: auto;
        border: none;
        cursor: crosshair;
        
    
    

    }
    .reset{
        position: absolute;
        top: 85%;
        left: 50%;
         transform: translate(-50%, -50%); 
        /* border: 7px solid black; */
        width: 10%;
        max-width:  500px;
        height: auto;
        margin: auto;
        
    }

.zero{
    width: 50px;
    height: 50px;
    /* background-color: rgb(43, 28, 10); */
    background-color: black;
    text-align: center;
    line-height: 50px;
    
    
    border-radius: 25px;
    font-weight: bolder;
    font-size: 30px;
}

@media only screen and (max-width : 600px) {
    .main{
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .zero{
        font-size: 20px;
        margin-top: 10px;
    }
    .first{
        width: 80px;
        height: 60px;
        margin-top: 10px;
    }
    .second{
        width: 80px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reset{
        position: absolute;
        top: 75%;
        left: 45%;
    }


    
}
